#### Dropna and fillna

In [2]:
import pandas as pd
csv_1 = pd.read_csv("student.csv.csv")
print(csv_1)

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

#### dropna function is used to remove the null data
# Handling Missing Values in Pandas: `dropna()` and `fillna()`

## `dropna()` Function
The `dropna()` function removes missing values (NaN) from a DataFrame or Series.

### **Syntax:**
```python
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
```

### **Parameters:**
| Parameter  | Description |
|------------|------------|
| `axis`     | 0 (default) removes rows with NaNs, 1 removes columns with NaNs |
| `how`      | `'any'` (default) drops rows/columns if any NaN is present, `'all'` drops only if all values are NaN |
| `thresh`   | Requires a minimum number of non-NaN values to keep the row/column |
| `subset`   | Specifies columns to consider for NaN removal |
| `inplace`  | `True` modifies the DataFrame directly, `False` returns a new DataFrame |

### **Example 1: Dropping Rows with NaN**
```python
import pandas as pd
import numpy as np

data = {'A': [1, 2, np.nan], 'B': [np.nan, 4, 5], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

# Dropping rows with any NaN
df_cleaned = df.dropna()
print(df_cleaned)
```

### **Example 2: Dropping Columns with NaN**
```python
df_cleaned = df.dropna(axis=1)
print(df_cleaned)
```

### **Example 3: Using `thresh` to Keep Rows with Minimum Non-NaN Values**
```python
df_cleaned = df.dropna(thresh=2)  # Keeps rows with at least 2 non-NaN values
print(df_cleaned)
```

---

## `fillna()` Function
The `fillna()` function replaces NaN values with specified values.

### **Syntax:**
```python
DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None)
```

### **Parameters:**
| Parameter  | Description |
|------------|------------|
| `value`    | Scalar, dictionary, or Series to replace NaN |
| `method`   | `'ffill'` (forward fill) or `'bfill'` (backward fill) |
| `axis`     | 0 for filling values along columns, 1 for filling values along rows |
| `inplace`  | `True` modifies the DataFrame directly, `False` returns a new DataFrame |
| `limit`    | Maximum number of consecutive NaNs to fill |

### **Example 1: Replacing NaN with a Fixed Value**
```python
df_filled = df.fillna(0)
print(df_filled)
```

### **Example 2: Filling with Column Mean**
```python
df_filled = df.fillna(df.mean())
print(df_filled)
```

### **Example 3: Forward Fill (`ffill`)
```python
df_filled = df.fillna(method='ffill')
print(df_filled)
```

### **Example 4: Backward Fill (`bfill`)
```python
df_filled = df.fillna(method='bfill')
print(df_filled)
```

---
This guide provides a detailed understanding of handling missing values in Pandas using `dropna()` and `fillna()`. These functions help maintain clean and consistent datasets.