### Reading of CSV file in python

In [ ]:
import pandas as pd
csv_1 = pd.read_csv("student.csv.csv")
print(csv_1)

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

### nrows is used to get a row ...nrows=1

In [8]:
csv_2 = pd.read_csv("student.csv.csv" , nrows=1)
print(csv_2)

   id      name class  mark  gender
0   1  John Deo  Four    75  female

#### usecols is used to get a column ..["coulmn head"]

In [11]:
csv_3 = pd.read_csv("student.csv.csv" , usecols=["name" , "mark"])
print(csv_3)

           name  mark
0      John Deo    75
1      Max Ruin    85
2        Arnold    55
3    Krish Star    60
4     John Mike    60
5     Alex John    55
6   My John Rob    78
7        Asruid    85
8       Tes Qry    78
9      Big John    55
10       Ronald    89
11        Recky    94
12          Kty    88
13         Bigy    88
14     Tade Row    88
15        Gimmy    88
16        Tumyu    54
17        Honny    75
18        Tinny    18
19       Jackly    65
20   Babby John    69
21       Reggid    55
22        Herod    79
23    Tiddy Now    78
24     Giff Tow    88
25       Crelea    79
26     Big Nose    81
27    Rojj Base    86
28  Tess Played    55
29    Reppy Red    79
30  Marry Toeey    88
31    Binn Rott    90
32    Kenn Rein    96
33     Gain Toe    69
34   Rows Noump    88

##### to skip rows we use the function skiprows
##### index_col is used to change the index of column

In [12]:
csv_4 = pd.read_csv("student.csv.csv" , index_col = "mark")
print(csv_4)

      id         name  class  gender
mark
75     1     John Deo   Four  female
85     2     Max Ruin  Three    male
55     3       Arnold  Three    male
60     4   Krish Star   Four  female
60     5    John Mike   Four  female
55     6    Alex John   Four    male
78     7  My John Rob  Fifth    male
85     8       Asruid   Five    male
78     9      Tes Qry    Six    male
55    10     Big John   Four  female
89    11       Ronald    Six  female
94    12        Recky    Six  female
88    13          Kty  Seven  female
88    14         Bigy  Seven  female
88    15     Tade Row   Four    male
88    16        Gimmy   Four    male
54    17        Tumyu    Six    male
75    18        Honny   Five    male
18    19        Tinny   Nine    male
65    20       Jackly   Nine  female
69    21   Babby John   Four  female
55    22       Reggid  Seven  female
79    23        Herod  Eight    male
78    24    Tiddy Now  Seven    male
88    25     Giff Tow  Seven    male
79    26       Crelea  Seven    male
81    27     Big Nose  Three  female
86    28    Rojj Base  Seven  female
55    29  Tess Played  Seven    male
79    30    Reppy Red    Six  female
88    31  Marry Toeey   Four    male
90    32    Binn Rott  Seven  female
96    33    Kenn Rein    Six  female
69    34     Gain Toe  Seven    male
88    35   Rows Noump    Six  female

##### header is used to change the header

In [13]:
csv_4 = pd.read_csv("student.csv.csv" , header=3)
print(csv_4)

     3       Arnold  Three  55    male
0    4   Krish Star   Four  60  female
1    5    John Mike   Four  60  female
2    6    Alex John   Four  55    male
3    7  My John Rob  Fifth  78    male
4    8       Asruid   Five  85    male
5    9      Tes Qry    Six  78    male
6   10     Big John   Four  55  female
7   11       Ronald    Six  89  female
8   12        Recky    Six  94  female
9   13          Kty  Seven  88  female
10  14         Bigy  Seven  88  female
11  15     Tade Row   Four  88    male
12  16        Gimmy   Four  88    male
13  17        Tumyu    Six  54    male
14  18        Honny   Five  75    male
15  19        Tinny   Nine  18    male
16  20       Jackly   Nine  65  female
17  21   Babby John   Four  69  female
18  22       Reggid  Seven  55  female
19  23        Herod  Eight  79    male
20  24    Tiddy Now  Seven  78    male
21  25     Giff Tow  Seven  88    male
22  26       Crelea  Seven  79    male
23  27     Big Nose  Three  81  female
24  28    Rojj Base  Seven  86  female
25  29  Tess Played  Seven  55    male
26  30    Reppy Red    Six  79  female
27  31  Marry Toeey   Four  88    male
28  32    Binn Rott  Seven  90  female
29  33    Kenn Rein    Six  96  female
30  34     Gain Toe  Seven  69    male
31  35   Rows Noump    Six  88  female

In [16]:
csv_5 = pd.read_csv("student.csv.csv" , header=None )
print(csv_5)

     0            1      2     3       4
0   id         name  class  mark  gender
1    1     John Deo   Four    75  female
2    2     Max Ruin  Three    85    male
3    3       Arnold  Three    55    male
4    4   Krish Star   Four    60  female
5    5    John Mike   Four    60  female
6    6    Alex John   Four    55    male
7    7  My John Rob  Fifth    78    male
8    8       Asruid   Five    85    male
9    9      Tes Qry    Six    78    male
10  10     Big John   Four    55  female
11  11       Ronald    Six    89  female
12  12        Recky    Six    94  female
13  13          Kty  Seven    88  female
14  14         Bigy  Seven    88  female
15  15     Tade Row   Four    88    male
16  16        Gimmy   Four    88    male
17  17        Tumyu    Six    54    male
18  18        Honny   Five    75    male
19  19        Tinny   Nine    18    male
20  20       Jackly   Nine    65  female
21  21   Babby John   Four    69  female
22  22       Reggid  Seven    55  female
23  23        Herod  Eight    79    male
24  24    Tiddy Now  Seven    78    male
25  25     Giff Tow  Seven    88    male
26  26       Crelea  Seven    79    male
27  27     Big Nose  Three    81  female
28  28    Rojj Base  Seven    86  female
29  29  Tess Played  Seven    55    male
30  30    Reppy Red    Six    79  female
31  31  Marry Toeey   Four    88    male
32  32    Binn Rott  Seven    90  female
33  33    Kenn Rein    Six    96  female
34  34     Gain Toe  Seven    69    male
35  35   Rows Noump    Six    88  female