## DataFrame in pandas

In [28]:
import pandas as pd

x = [[1,2,3,4,5], [6,7,8,9,10]]
y = [[1,2,3,4,5], [6,7,8,9,10]]
var = pd.DataFrame(x)
var3 = pd.DataFrame(y)
print(var)
print(var+var3)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10
    0   1   2   3   4
0   2   4   6   8  10
1  12  14  16  18  20

In [16]:
d ={"a" :[1,2,3,4,5], "b" : [6,7,8,9,10]}
var1 = pd.DataFrame(d)
print(var1)
print(var1["a" ][2])

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
3

### we can create a DataFrame using series

In [29]:
sr = {"a" : pd.Series([1,2,3,4,5]), "b" : pd.Series([6,7,8,9,10])}
var2 = pd.DataFrame(sr)
print(var2)

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

### Insert data in DataFrames

In [42]:

var1 = pd.DataFrame({'a' : [1,2,3,4,5], 'b' : [6,7,8,9,10]})
print(var1)

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [43]:
var1.insert(1, "e", [11,12,13,14,15])
print(var1)

   a   e   b
0  1  11   6
1  2  12   7
2  3  13   8
3  4  14   9
4  5  15  10

### Delete the data in DataFrame

In [49]:
var1.pop ("a")
print(var1)

    b
0   6
1   7
2   8
3   9
4  10