In [2]:
import pandas as pd
import numpy as np
data = {'A': [1, 2, np.nan], 'B': [np.nan, 4, 5], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
print(df)

     A    B  C
0  1.0  NaN  7
1  2.0  4.0  8
2  NaN  5.0  9

##### isna() gives true where null value is present and sum() to see in which row/column it is present

In [3]:
df.isna()

       A      B      C
0  False   True  False
1  False  False  False
2   True  False  False

In [4]:
df.isna().sum()  # Count NaN values in each column

A    1
B    1
C    0
dtype: int64

#### dropna() and fillna() functions is used for cleaning....for more details refer to csvFile4.ipynb

In [5]:
# Dropping rows with any NaN
df_cleaned = df.dropna()
print(df_cleaned)

     A    B  C
1  2.0  4.0  8

In [10]:
values= {'A': 2, 'B': 8, 'C': 3}
df.fillna(value=values)

     A    B  C
0  1.0  8.0  7
1  2.0  4.0  8
2  2.0  5.0  9